# Copyright 2023-2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This is an example tfvars file. Copy this to terraform.tfvars and adjust the values.

# Required: The Google Cloud Project ID to deploy the resources into.
project_id = "YOUR_PROJECT_ID"

# Networking

# Optional: The name of the Virtual Private Cloud (VPC) network for the workstation. Defaults to "workstations".
#vpc_name = "workstations"

# Optional: The default region for compute resources. Defaults to "us-central1".
#vpc_region = "europe-west1"

# Optional: The name of the Virtual Private Cloud (VPC) sub-network for the workstation in a region. Defaults to "primary".
#subnet_name = "primary"

# Optional: Controls the deployment of Cloud NAT for the VPC. Defaults to null (automatic).
#create_cloud_nat = false

# Optional: The region for the Secure Source Manager instance, cf. https://cloud.google.com/secure-source-manager/docs/locations. Defaults to "us-central1".
#secure_source_manager_region = "europe-west4"

## Source Control (GitHub & Secure Source Manager)

# Optional: The owner of the GitHub repository (user or organization). Defaults to null.
#github_owner = "YOUR_GITHUB_ORG"

# Optional: The name of the GitHub repository. Defaults to null.
#github_repo = "YOUR_GITHUB_REPO"

# Optional: A regular expression to match GitHub branches that trigger Cloud Build on push. Defaults to "^main$".
#git_branches_regexp_trigger = "^dev$"

# Optional: The name of the Secure Source Manager instance. Defaults to "cicd-foundation".
#secure_source_manager_instance_name = "YOUR_SSM_INSTANCE_NAME"

# Optional: The name of the Secure Source Manager repository. Defaults to "cicd-foundation".
#secure_source_manager_repo_name = "YOUR_SSM_REPO_NAME"

# Optional: The URL of a Git repository to clone into the new Secure Source Manager repository. If null, cloning is skipped. Defaults to "https://github.com/GoogleCloudPlatform/cicd-foundation.git".
# secure_source_manager_repo_git_url_to_clone = null

# Optional: The Secure Source Manager (SSM) branch that triggers Cloud Build on push. Defaults to "main".
#git_branch_trigger = "dev"

# Custom images for Cloud Workstations
cws_custom_images = {
  # Custom Cloud Workstation Image with Antigravity
  "antigravity" : {
    git_repo = {
      url    = "https://github.com/GoogleCloudPlatform/cicd-foundation.git"
      branch = "main"
    }
    build = {
      skaffold_path   = "apps/workstations/antigravity"
      timeout_seconds = 7200
      machine_type    = "E2_HIGHCPU_32"
    }
  },
  # Custom Cloud Workstation Images with Android Studio for Platform
  "android-studio-for-platform" : {
    git_repo = {
      url    = "https://github.com/GoogleCloudPlatform/cicd-foundation.git"
      branch = "main"
    }
    build = {
      skaffold_path   = "apps/workstations/android-studio-for-platform"
      timeout_seconds = 7200
      machine_type    = "E2_HIGHCPU_32"
      env = {
      }
    }
    workstation_config = {
      # paused = true
    }
  },
}

# Cloud Workstations Clusters
cws_clusters = {
  "workstations"  = {
    network     = "workstations"         # cf. vpc_name
    region      = "us-central1"          # cf. vpc_region
    subnetwork  = "primary"              # cf. subnet_name
    #vpc_project = "your-host-project-id" # for shared-VPC
    #domain_config = {
    #  domain = "workstations.example.com"
    #}
    #private_cluster_config = {
    #  enable_private_endpoint = true  # Defaults to false
    #}
  }
}

# Cloud Workstations Configs
cws_configs = {
  "custom" = {
    boot_disk_size_gb              = 64
    creators                       = [
    ]
    custom_image_names             = [
      "antigravity",
    ]
    cws_cluster                    = "workstations"
    #disable_public_ip_addresses    = true  # Defaults to false
    enable_nested_virtualization   = false
    idle_timeout_seconds           = 3600
    machine_type                   = "e2-standard-8"
    persistent_disk_fs_type        = "ext4"
    #persistent_disk_reclaim_policy = "DELETE" # Defaults to "RETAIN"
    persistent_disk_size_gb        = 500
    persistent_disk_type           = "pd-balanced"
    pool_size                      = 1  # Defaults to 0
  },
  "android" = {
    #accelerators = [
    #  {
    #    type  = "nvidia-tesla-t4"
    #    count = 1
    #  }
    #]
    boost_configs = [  # Defaults to []
      {
        id           = "gpu"
        machine_type = "n1-standard-96"
        accelerators = [
          {
            type  = "nvidia-tesla-t4"
            count = 1
          }
        ]
      }
    ]
    #boot_disk_size_gb = 50  # Defaults to 200
    creators = [
    #  "user1@example.com",
    #  "user2@example.com",
    ]
    custom_image_names = [
      "antigravity",
      "android-studio-for-platform",
      "code-oss",
    ]
    cws_cluster = "workstations"
    #disable_public_ip_addresses = true  # Defaults to false
    #enable_nested_virtualization = false  # Defaults to true
    #idle_timeout_seconds = 1800  # Defaults to 3600
    #instances = [
    #  {
    #    name  = "user1-ws"
    #    #users = ["user1@example.com"]
    #  },
    #  {
    #    name  = "shared-ws"
    #    #users = ["user1@example.com", "user2@example.com"]
    #  }
    #]
    #machine_type = "e2-standard-4"  # Defaults to "n1-standard-96"
    persistent_disk_fs_type = "ext4"
    #persistent_disk_reclaim_policy = "DELETE" # Defaults to "RETAIN"
    persistent_disk_size_gb = 200
    #persistent_disk_source_snapshot = null  # Defaults to null
    persistent_disk_type = "pd-ssd"
    #pool_size = 1  # Defaults to 0
    shielded_instance_config = {            # Defaults to null
    #  enable_secure_boot          = false   # Defaults to true within shielded_instance_config
    #  enable_vtpm                 = false   # Defaults to true within shielded_instance_config
    #  enable_integrity_monitoring = false   # Defaults to true within shielded_instance_config
    }
  },
}

## Android Platform Development
android_branches = [
  #"main",
  #"feature2",
  #"user3",
]
android_targets = {
  #"x86-userdebug" : "aosp_cf_x86_64_phone-trunk_staging-userdebug",
  #"arm64-eng" : "aosp_cf_x86_64_phone-trunk_staging-eng",
}
