# Copyright 2025-2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=TigerVNC remote desktop service
Wants=network-online.target
After=network-online.target
ConditionEnvironment=ENABLE_TIGERVNC=true

[Service]
Type=simple
User=user
PAMName=login
PIDFile=/home/user/.vnc/%H:1.pid
ExecStartPre=/bin/bash -c '/usr/bin/vncserver -kill :1 > /dev/null 2>&1 || :'
ExecStart=/bin/bash -l -c '/usr/bin/vncserver :1 -geometry 1920x1200 -depth 24 -localhost yes -SecurityTypes None -fg'
ExecStop=/bin/bash -c '/usr/bin/vncserver -kill :1 > /dev/null 2>&1 || :'
